/secrets
key.json
# Terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log
**/*.tfvars
**/*.tfvars.json
**/*.tfplan
**/.build/
__pycache__/
*.pyc
.DS_Store
Thumbs.db
.vscode/
.idea/
